.App {
  overflow: hidden;
  position: relative;
  min-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.3);
}

.background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.container {
  float: right;
  width: 65%;
  padding: 2%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-button {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(45deg, #007bff, #1abc9c);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-image 2s, transform 0.2s;
  height: 100%;
}

.navigation-button:hover {
  background-image: linear-gradient(45deg, #1abc9c, #007bff);
}

.navigation-button:active {
  transform: scale(0.98);
}

h1 {
  color: #1abc9c;
}

a {
  text-decoration: none;
  color: #1abc9c;
}

a:hover {
  color: #16a085;
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 4%;
  }

  .navigation-button {
    font-size: 0.8rem;
  }
}
