@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f9;
  color: #333;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, "Roboto", Arial, sans-serif;
  line-height: 1.6;
}
